flows-node-red/flows191025.json
[{"id":"fd57f69bac6ac238","type":"tab","label":"ProjetoISI","disabled":false,"info":"","env":[]},{"id":"34706d719d576df0","type":"mqtt-broker","name":"mqtt teste","broker":"127.0.0.1","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"eeef259b71259f6b","type":"sqlitedb","db":"D:\\\\Escola_3ano\\\\ISI\\\\ProjetoISIv1\\\\flows-node-red\\\\data\\\\sql-db-estacao.db","mode":"RWC"},{"id":"0296a20e1e2a8846","type":"mqtt in","z":"fd57f69bac6ac238","name":"MQTT Subscriber Estacao1","topic":"linha_producao/estacao/1","qos":"2","datatype":"json","broker":"34706d719d576df0","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":160,"wires":[["5b98358da4e0d3fe"]]},{"id":"2c7ddb11c525b926","type":"debug","z":"fd57f69bac6ac238","name":"Estacao 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":100,"wires":[]},{"id":"5b98358da4e0d3fe","type":"function","z":"fd57f69bac6ac238","name":"Adicionar TimeStamp e id da estacao e Codigo de Produto","func":"// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    codigo_produto : \"1\",\n    estacao : \"1\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["2c7ddb11c525b926","5e4b2cc8ccdf5815","8cc7892796f9e6a3","1db8609cd1bb7bad"]]},{"id":"18c6c95d6b07b9c1","type":"mqtt in","z":"fd57f69bac6ac238","name":"MQTT Subscriber Estacao2","topic":"linha_producao/estacao/2","qos":"2","datatype":"json","broker":"34706d719d576df0","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":240,"wires":[["fcef7c8376bc685e"]]},{"id":"fcef7c8376bc685e","type":"function","z":"fd57f69bac6ac238","name":"Adicionar TimeStamp e id da estacao,codigo produto","func":"\n\n// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    codigo_produto : \"1\",\n    estacao : \"2\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["3638de5e40a424c9","5e4b2cc8ccdf5815","8cc7892796f9e6a3","1db8609cd1bb7bad"]]},{"id":"3638de5e40a424c9","type":"debug","z":"fd57f69bac6ac238","name":"Estacao 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":180,"wires":[]},{"id":"a4aebbc7bc766ebb","type":"mqtt in","z":"fd57f69bac6ac238","name":"MQTT Subscriber Estacao3","topic":"linha_producao/estacao/3","qos":"2","datatype":"json","broker":"34706d719d576df0","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":320,"wires":[["6f6724986e779932"]]},{"id":"6f6724986e779932","type":"function","z":"fd57f69bac6ac238","name":"Add timestamp,id da estacao,codigo_produto","func":"\n\n// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    codigo_produto: \"3\",\n    estacao : \"3\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["e8a62a788e412cb0","5e4b2cc8ccdf5815","8cc7892796f9e6a3","1db8609cd1bb7bad"]]},{"id":"e8a62a788e412cb0","type":"debug","z":"fd57f69bac6ac238","name":"Estacao 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":280,"wires":[]},{"id":"e410307534a24d24","type":"file","z":"fd57f69bac6ac238","name":"Write to CSV file","filename":"D:\\\\Escola_3ano\\\\ISI\\\\ProjetoISIv1\\\\estacao1.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1100,"y":20,"wires":[[]]},{"id":"88141c0a8e7b958d","type":"csv","z":"fd57f69bac6ac238","name":"Estacao 1 File","spec":"rfc","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\r\\n","temp":"estacao,timestamp,producao,paragem,stock,defeitos","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":840,"y":20,"wires":[["e410307534a24d24"]]},{"id":"3c2018d5d768a8ee","type":"function","z":"fd57f69bac6ac238","name":"Flatten JSON for CSV","func":"// Flatten JSON for CSV\nvar flat = {\n    estacao: msg.payload.estacao,\n    timestamp: msg.payload.timestamp,\n    producao: msg.payload.dados.producao,\n    paragem: msg.payload.dados.paragem,\n    stock: msg.payload.dados.stock,\n    defeitos: msg.payload.dados.defeitos\n};\n\n\nmsg.payload = flat;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":20,"wires":[["88141c0a8e7b958d"]]},{"id":"db8cc043b3519a32","type":"debug","z":"fd57f69bac6ac238","name":"UI send to Node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":100,"wires":[]},{"id":"e2531e8b3c507737","type":"debug","z":"fd57f69bac6ac238","name":"Node to UI Build","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":220,"wires":[]},{"id":"8cc7892796f9e6a3","type":"function","z":"fd57f69bac6ac238","name":"Acumular dados de producao","func":"// --- 1️⃣ Get current accumulated values ---\nlet accProducao = flow.get('producao_acc') || 0;\nlet accStock = flow.get('stock_acc') || 0;\nlet accParagem = flow.get('paragem_acc') || 0;\nlet accDefeitos = flow.get('defeitos_acc') || 0;\n\n// --- 2️⃣ Extract new incoming data ---\nlet estacao = msg.payload.estacao;\nlet dados = msg.payload.dados;\nlet id_estacao = msg.payload.estacao;\nlet timestamp = msg.payload.timestamp || new Date().toISOString();\n\n// --- 3️⃣ Update accumulated totals ---\naccProducao += dados.producao;\naccStock += dados.stock;\naccParagem += dados.paragem;\naccDefeitos += dados.defeitos;\n\n// --- 4️⃣ Save updated values in flow context ---\nflow.set('producao_acc', accProducao);\nflow.set('stock_acc', accStock);\nflow.set('paragem_acc', accParagem);\nflow.set('defeitos_acc', accDefeitos);\n\n// --- 5️⃣ Build SQL INSERT query ---\nmsg.topic = `\nINSERT INTO registo_estacoes (Producao, Stock, Paragem, Defeitos, Id_Estacao, Timestamp)\nVALUES (${accProducao}, ${accStock}, ${accParagem}, ${accDefeitos}, ${id_estacao}, '${timestamp}');\n`;\n\n// --- 6️⃣ Optional: Output message for debugging or SQLite ---\nmsg.payload = {\n    acumulado: {\n        producao: accProducao.toFixed(0),\n        stock: accStock.toFixed(0),\n        paragem: accParagem.toFixed(0),\n        defeitos: accDefeitos.toFixed(0)\n    },\n    estacao,\n    timestamp\n};\n\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":340,"wires":[["c5db19df6227d385"]]},{"id":"5e4b2cc8ccdf5815","type":"uibuilder","z":"fd57f69bac6ac238","name":"UI BUILDER","topic":"","url":"uitest","okToGo":true,"fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"ext-iife-vue3-nobuild","extTemplate":"TotallyInformation/uib-template-iife-vue3-nobuild","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"7.5.0","showMsgUib":false,"title":"","descr":"","editurl":"","x":1220,"y":160,"wires":[["db8cc043b3519a32"],["e2531e8b3c507737"]]},{"id":"f642569c9a458235","type":"comment","z":"fd57f69bac6ac238","name":"TODO-LIST","info":"Criar base de dados para dados acumulados \nem sqlite3\n\nfazer relatorio de margens para enviar por email\npara fazer como esta a correr as estaçoes\n\nconectar a uma api para saber os preços das peças que estao a ser construidas\nnas estaçoes\n\na api envia muitos preços de produtos\nadicionar os ids nos produtos e depois usar um regex so para\napanhar os produtos que tem os ids correspondentes\n\n\ncriar um ficheiro global para configuraçoes\n\ncada minuto\npreço do produto x produtos feitos\nparagem\n\nGerar alertas sobre algum dado","x":790,"y":460,"wires":[]},{"id":"c5db19df6227d385","type":"sqlite","z":"fd57f69bac6ac238","mydb":"eeef259b71259f6b","sqlquery":"msg.topic","sql":"","name":"DB registo_estacaoes","x":1040,"y":500,"wires":[["19f5c9dada8155f7"]]},{"id":"19f5c9dada8155f7","type":"debug","z":"fd57f69bac6ac238","name":"Debug DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":640,"wires":[]},{"id":"9ce7d1d94243afb2","type":"sqlite","z":"fd57f69bac6ac238","mydb":"eeef259b71259f6b","sqlquery":"msg.topic","sql":"","name":"Produto","x":380,"y":580,"wires":[[]]},{"id":"d06844475160963a","type":"http in","z":"fd57f69bac6ac238","name":"ver preco do produto","url":"","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":130,"y":460,"wires":[["1db8609cd1bb7bad"]]},{"id":"1db8609cd1bb7bad","type":"function","z":"fd57f69bac6ac238","name":"Adicionar preco do produto com o id","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":460,"wires":[["9ce7d1d94243afb2"]]},{"id":"a851fc9b0490162f","type":"global-config","env":[],"modules":{"node-red-node-sqlite":"1.1.1","node-red-contrib-uibuilder":"7.5.0"}}]