flows-node-red/flows.json
[
    {
        "id": "fd57f69bac6ac238",
        "type": "tab",
        "label": "ProjetoISI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34706d719d576df0",
        "type": "mqtt-broker",
        "name": "mqtt teste",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0296a20e1e2a8846",
        "type": "mqtt in",
        "z": "fd57f69bac6ac238",
        "name": "MQTT Subscriber Estacao1",
        "topic": "linha_producao/estacao/1",
        "qos": "2",
        "datatype": "json",
        "broker": "34706d719d576df0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "5b98358da4e0d3fe"
            ]
        ]
    },
    {
        "id": "2c7ddb11c525b926",
        "type": "debug",
        "z": "fd57f69bac6ac238",
        "name": "Estacao 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b98358da4e0d3fe",
        "type": "function",
        "z": "fd57f69bac6ac238",
        "name": "Adicionar TimeStamp",
        "func": "\n\n// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    estacao : \"1\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "2c7ddb11c525b926",
                "3c2018d5d768a8ee",
                "5e4b2cc8ccdf5815"
            ]
        ]
    },
    {
        "id": "18c6c95d6b07b9c1",
        "type": "mqtt in",
        "z": "fd57f69bac6ac238",
        "name": "MQTT Subscriber Estacao2",
        "topic": "linha_producao/estacao/2",
        "qos": "2",
        "datatype": "json",
        "broker": "34706d719d576df0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "fcef7c8376bc685e"
            ]
        ]
    },
    {
        "id": "fcef7c8376bc685e",
        "type": "function",
        "z": "fd57f69bac6ac238",
        "name": "Adicionar TimeStamp",
        "func": "\n\n// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    estacao : \"2\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "3638de5e40a424c9",
                "5e4b2cc8ccdf5815"
            ]
        ]
    },
    {
        "id": "3638de5e40a424c9",
        "type": "debug",
        "z": "fd57f69bac6ac238",
        "name": "Estacao 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4aebbc7bc766ebb",
        "type": "mqtt in",
        "z": "fd57f69bac6ac238",
        "name": "MQTT Subscriber Estacao3",
        "topic": "linha_producao/estacao/3",
        "qos": "2",
        "datatype": "json",
        "broker": "34706d719d576df0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "6f6724986e779932"
            ]
        ]
    },
    {
        "id": "6f6724986e779932",
        "type": "function",
        "z": "fd57f69bac6ac238",
        "name": "Adicionar TimeStamp",
        "func": "\n\n// Adiciona timestamp ISO\nlet timestamp = new Date().toISOString();\n\n// Monta o novo objeto de saída\nmsg.payload = {\n    estacao : \"3\",\n    timestamp: timestamp,\n    dados: msg.payload   // mantém os valores originais (producao, stock, etc.)\n};\n\n// Retorna a mensagem atualizada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "e8a62a788e412cb0",
                "5e4b2cc8ccdf5815",
                "8cc7892796f9e6a3"
            ]
        ]
    },
    {
        "id": "e8a62a788e412cb0",
        "type": "debug",
        "z": "fd57f69bac6ac238",
        "name": "Estacao 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "e410307534a24d24",
        "type": "file",
        "z": "fd57f69bac6ac238",
        "name": "Write to CSV file",
        "filename": "D:\\\\Escola_3ano\\\\ISI\\\\ProjetoISIv1\\\\estacao1.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 940,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "88141c0a8e7b958d",
        "type": "csv",
        "z": "fd57f69bac6ac238",
        "name": "Estacao 1 File",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "estacao,timestamp,producao,paragem,stock,defeitos",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 840,
        "y": 20,
        "wires": [
            [
                "e410307534a24d24"
            ]
        ]
    },
    {
        "id": "3c2018d5d768a8ee",
        "type": "function",
        "z": "fd57f69bac6ac238",
        "name": "Flatten JSON for CSV",
        "func": "// Flatten JSON for CSV\nvar flat = {\n    estacao: msg.payload.estacao,\n    timestamp: msg.payload.timestamp,\n    producao: msg.payload.dados.producao,\n    paragem: msg.payload.dados.paragem,\n    stock: msg.payload.dados.stock,\n    defeitos: msg.payload.dados.defeitos\n};\n\n\nmsg.payload = flat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "88141c0a8e7b958d"
            ]
        ]
    },
    {
        "id": "db8cc043b3519a32",
        "type": "debug",
        "z": "fd57f69bac6ac238",
        "name": "UI send to Node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "5e4b2cc8ccdf5815",
        "type": "uibuilder",
        "z": "fd57f69bac6ac238",
        "name": "UI BUILDER",
        "topic": "",
        "url": "uitest",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "ext-iife-vue3-nobuild",
        "extTemplate": "TotallyInformation/uib-template-iife-vue3-nobuild",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "",
        "x": 740,
        "y": 540,
        "wires": [
            [
                "db8cc043b3519a32"
            ],
            [
                "e2531e8b3c507737"
            ]
        ]
    },
    {
        "id": "e2531e8b3c507737",
        "type": "debug",
        "z": "fd57f69bac6ac238",
        "name": "Node to UI Build",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "8cc7892796f9e6a3",
        "type": "function",
        "z": "fd57f69bac6ac238",
        "name": "Acumular dados de producao",
        "func": "// Get the existing accumulated value\nlet accProducao = flow.get('producao_acc') || 0;\nlet accStock = flow.get('stock_acc') || 0;\nlet accParagem = flow.get('paragem_acc') || 0;\n\n\n// Add the new production value\naccProducao += msg.payload.dados.producao;\naccStock += msg.payload.dados.stock;\naccParagem += msg.payload.paragem;\n\n// Save the new total back to flow context\nflow.set('producao_acc', accProducao);\nflow.set('stock_acc',accStock);\nflow.set('paragem_acc',accParagem);\n\n// Set the message payload to the accumulated value\nmsg.payload = {\n    \"producao\": accProducao,\n    \"stock\" : accStock,\n    \"paragem\" : accParagem\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 480,
        "wires": [
            [
                "7703d1e1cea127dc"
            ]
        ]
    },
    {
        "id": "7703d1e1cea127dc",
        "type": "file",
        "z": "fd57f69bac6ac238",
        "name": "Acumular",
        "filename": "D:\\\\Escola_3ano\\\\ISI\\\\ProjetoISIv1\\\\estacao3acumulado.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "379ff5aae9b27366",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-uibuilder": "7.5.0"
        }
    }
]